
typo3-backend-modal:has(typo3-backend-new-record-wizard) > div {
}
typo3-backend-modal:has(typo3-backend-new-record-wizard) > div {
  .modal-content.modal-content {
    width: 90vw;
    height: 90vh;
    max-width: 1340px;
    .modal-body.t3-new-content-element-wizard-window {
      .tab-content {
        .panel-body {
          padding-top: 10px;
          .media-new-content-element-wizard {
            width: 33%;
            @media (min-width: 1400px) {
              width: 25%;
            }
            @media (max-width: 800px) {
              width: 50%;
            }
            padding: 10px;
            margin-top: 0;
            border-radius: 5px;
            background-color: rgb(236 236 236);
            border: 3px solid #FAFAFA;
            &:hover {
              background: lightgray;
              cursor: pointer;
            }
            > button {
              &:hover {
                text-decoration: none !important;
              }
              margin-top: 0;
              > .media-left {
              }
              > .media-body {
                text-decoration: none !important;
                strong {
                  text-decoration: none !important;
                }
              }
            }
            > .preview-image {
              margin-top: 4px;
              max-width: 100%;
              height: auto;
              border: 2px solid #c9c9c9;
            }
          }
        }
      }
    }
  }
}
